<mat-card>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <mat-form-field class="full">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" />
      </mat-form-field>
      <mat-form-field class="full">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-stroked-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Save</button>
    </div>
  </form>
</mat-card>